body {
    display: flex;
    justify-content: center;
}

.mycards {
    display: flex;
    justify-content: center;
    width: 1200px;
    gap: 20px;
    text-align: center;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin: 0;
}
