
#modalContainer1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent1 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer2 {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent2 {
    position: absolute;
    background-image: url('https://i.pinimg.com/564x/ac/b9/9c/acb99cad607ce39cdaabee3dc141c2a0.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 40%;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid black;
}

#eunhyeImage {
    position: absolute;
    width: 100px;
    bottom: 30px;
    right: 100px;
}



#modalContainer3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent3 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer4 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent4 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer5 {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent5 {
    position: absolute;
    background-image: url('https://thumbnail9.coupangcdn.com/thumbnails/remote/492x492ex/image/vendor_inventory/d825/ba383092d267f5a5273a3b4bf46e48a49bb1d31aeac922a4fb312529e848.jpg');
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



#modalContainer.hidden {
    display: none;
}