p{
    margin-bottom: 0.5rem;
}

#modalContainer1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent1 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer2 {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

#modalContent2 {
    position: absolute;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-vaporwave-vintage-lineal_52683-58478.jpg');
    background-size: cover;
    background-position: center;
    width: 900px;
    height: 600px;
    padding: 0 15px 50px 280px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 5px solid black;
}

.glow {
    color: black; 
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.8), 
        0 0 10px rgba(255, 255, 255, 0.6), 
        0 0 15px rgba(255, 255, 255, 0.4); 
}

#modalContainer3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent3 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer4 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent4 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#modalContainer5 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(221, 82, 82, 0.5);
    overflow: auto;
}

#modalContent5 {
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    padding: 15px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



#modalContainer.hidden {
    display: none;
}